.prof-main-stats{
    width: 100%;
    padding: 24px 51px;

    display: flex;
    align-items: center;
    justify-content: space-around;

    border-radius: 20px;
    border: solid 2px rgba(255, 255, 255, 0.3);
    background-color: var(--glass-color);
    backdrop-filter: blur(20px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);}
.prof-main-name{
    color: black;

    font-size: 41.86px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 27px;
}
.prof-main-from{
    color: black;

    font-size: 20px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}

.prof-main-rate{
    color: #F83285;
    text-align: start;
    font-size: 23px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.prof-main-stars{
    display: flex;
}

.prof-main-rating{
    display: flex;
    align-items: center;
}

.prof-main-overall{
    color: black;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    margin-right: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.prof-card-rating-line{
    display: flex;
    align-items: center;
    gap: 5px;

    color: black;
    text-align: center; 
    font-size: 30.234px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}
.prof-main-info{
    margin-top: 40px;

    display: grid;

    grid-template-columns: 2fr 1fr;

    gap: 60px;
}
.prof-main-descripiton{
    padding: 40px;

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;

    border: solid 2px rgba(255, 255, 255, 0.3);
    background-color: var(--glass-color);
    backdrop-filter: blur(20px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.prof-main-text{
    color: black;
    text-align: justify;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;    

    min-width: 0px !important;
}

.prof-main-comments-container{
    padding: 40px;
    width: 100%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 20px;
    border: solid 2px rgba(255, 255, 255, 0.3);
    background-color: var(--glass-color);
    backdrop-filter: blur(20px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);



    position: relative;
}


.prof-main-comments{
    width: 100%;
    max-height: calc(500px);
    min-height: 300px;
}
.prof-main-comment-title{
    color: black;
    font-size: 41.86px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: start;
}

.prof-main-input{
    width: 80%;
    padding: 10px;

    position: absolute;
    bottom: 30px;

    outline: 2.163px solid #F83285 ;

    border-radius: 15.142px;
    border:none;
    background: #F4F4F4;
    box-shadow: 7.57112px 8.65271px 2.70397px -2.16318px rgba(0, 0, 0, 0.25);
}
.main-stars svg path{
    fill: #D9D9D9;
}
.active svg path{
    transition: 0.2s;
    fill: #F83285;
}

@media (max-width: 970px) {
    .prof-main-stats{
        flex-direction: column;
    }
    .prof-main-info{
        grid-template-columns: 1fr;
    }
    .prof-main-about{
        display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    }
}

@media (max-width: 500px) {
    .prof-main-rating{
        display: flex;
        flex-direction: column;
    }
}
@media (max-width:400px) {
    .prof-main-info {
        display: block;
        margin-top: 40px;
    }
    .prof-main-descripiton{
        margin-bottom: 40px;
    }
}