
.proffesor-bg{
    width: 100%;
    height: 100vh;
    
    background: url('/src/assets/background.png') lightgray 50% / cover no-repeat;

    position: relative;


}
.professor-bg-color{
    width: 100%;
    height: 100vh;

    background: rgba(213, 213, 213, 0.76);
}

.proffesor-container{
    max-width: 60%;
    margin: auto;
    z-index: 2;
}
.proffesor-home-wrapper{

    display: flex;
    flex-direction: column;
    align-items: start;

}

.professor-title{
    width: 100%;
    text-align: start;
    color: white;
    display: block;
    padding: 0 10px;
    width: max-content;
    
    border-radius: 18.57px;
    background: rgba(30, 30, 36, 0.84);
    box-shadow: 2.97119px 3.71399px 2.22839px 3.71399px rgba(0, 0, 0, 0.50);

    font-weight: 700;
    font-size: 35px;
    line-height: 84px;
    margin-top: 47px;
    margin-bottom: 33px;
}
.professor-cards{
    max-width: 100%;
    width: 100%;

    max-height: 670px;
    height: 100%;
    overflow-y: scroll;

    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: start;
    gap: 66px 80px;

}
.professor-cards::-webkit-scrollbar{
    width: 25.966px;
    margin-left: 30px;
  }

  .professor-cards::-webkit-scrollbar-track {
    border-radius: 23.605px;
    background: rgba(111, 110, 110, 0.67);
  }

  .professor-cards::-webkit-scrollbar-thumb {
    border-radius: 23.605px;
    background: #F83285;
  }
  
.filler{
    width: 100%;
    height: 100%;
}

@media (width < 1800px) {
    .professor-cards{
        grid-template-columns: repeat(1, auto);
        justify-content: center;
    }
}
