.proffesor-bg{
    width: 100vw;
    height: 100vh;
    background: white;

}
.proffesor-home-wrapper{
    max-width: 1420px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.professor-title{
    font-weight: 700;
    font-size: 70px;
    line-height: 84px;
    margin-bottom: 100px;
}
.professor-cards{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
    gap: 100px;
}
