
.proffesor-bg{
    width: 100%;
    height: 100vh;
    
    background: url('/src/assets/background-violet.png') lightgray 50% / cover no-repeat;

    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    background-position: 5% 70%;
    background-size: 150%;
}
.professor-bg-color{
    width: 100%;
    height: 100vh;
}

.proffesor-container{
    max-width: 90%;
    min-width: 300px;
    margin: auto;
    z-index: 2;

    flex-grow: 10;
    height: 100vh;
    /* overflow-y: scroll; */
}
.proffesor-home-wrapper{

    display: flex;
    flex-direction: column;
    align-items: start;

}

.professor-title{
    width: 100%;
    text-align: start;
    color: #1f1f1f;
    display: block;
    padding: 0 10px;
    width: max-content;

    border-radius: 10px;
    border: solid 2px rgba(255, 255, 255, 0.3);
    background-color: var(--glass-color);
    backdrop-filter: blur(20px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    margin-top: 47px;
    margin-bottom: 33px;
}
.professor-cards{
    max-width: 100%;
    width: 100%;

    max-height: calc(100vh - 300px);
    min-height: fit-content;
    overflow-y: scroll;

    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: start;
    gap: 66px 80px;

}
.professor-cards::-webkit-scrollbar{
    width: 24.966px;
    margin-left: 30px;
  }

  .professor-cards::-webkit-scrollbar-track {
    border-radius: 23.605px;
    background: rgba(111, 110, 110, 0.67);
  }

  .professor-cards::-webkit-scrollbar-thumb {
    border-radius: 23.605px;
    background: #F83285;
  }
  
.filler{
    width: 100%;
    height: 100%;
}

@media (width < 1200px) {
    .professor-cards{
        grid-template-columns: repeat(1, auto);
        justify-content: start;
    }
}

@media (max-height : 700px) {
    .professor-cards {
        max-height: calc(100vh - 100px);
    }
    
}
@media (width <550px) {
    .professor-cards::-webkit-scrollbar{
        width: 10.966px;
        margin-left: 30px;
      }
    .professor-cards{
        justify-content: center;
    }
    .prof-card-stats{
        flex-direction: column;
        gap: 30px;
    }
    .prof-card{
        padding: 30px;
    }
}
