.app-mainsection-search-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 100%;
}

.app-mainsection-search-input-wrapper{
  background: white;
  border: solid .25rem #F83285;
  border-radius: 30px;
  overflow: hidden;
  width: 60%;
  min-width: 300px;
  height: 3rem;
  display: flex;
  align-items: center;
}

.app-mainsection-search-input-wrapper input{
  height: 100%;
  width: 80%;
  padding: 0 0 0 1rem;
  outline: none;
  border: none;
  font-size: 1.2rem;
}

.switch-wrapper{
  display: flex;
  justify-content: right;
  align-items: center;
  flex: 1;
  height: 90%;
  transition: .2s;
}

.switch{
  margin-right: .5rem;
  height: 90%;
  min-width: 5rem;
  border-radius: 20px;
  display: flex;
  align-items: center;
  border: solid 2px var(--accent-color);
  transition: .2s;
  cursor: pointer;
}

.slider{
  margin-left: .2rem;
  margin-right: .2rem;
  background: var(--accent-color);
  width: 1.6rem;
  height: 1.6rem;
  border-radius:  50%;
  transition: .2s;
  z-index: 10;
}

.switch.class .slider{
  transform: translateX(174%);
}

.switch.prof .slider{
  transform: translateX(0);
}

.switch span{
  transition: .2s;
}

.switch span:nth-of-type(2){
  position: absolute;
  margin-left: .7rem;
}

.none{
  opacity: 0;
}
