.app-mainsection-search-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 100%;
}

.app-mainsection-search-input-wrapper{
  background: white;
  border: solid .25rem #F83285;
  border-radius: 20px;
  overflow: hidden;
  width: 60%;
  min-width: 300px;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-mainsection-search-input-wrapper input{
  height: 100%;
  width: 100%;
  padding: 0 0 0 1rem;
  outline: none;
  border: none;
  font-size: 1.2rem;
}

.app-mainsection-search-input-wrapper + p{
  margin-top: 1rem;
  font-size: 1.5rem;
}

span{
  color: #F83285;
  text-decoration: underline;
  cursor: pointer;
}
